.menu-list {
    width: 224px;

    .menu-item {
        margin-left: 0;
    }
}

.menu-popper {
    padding-bottom: 8px;
}

// menu-item :
.menu-item {
    width: 100%;
    line-height: 24px;
    justify-content: flex-start;
    border-radius: 0;
    &:hover {
        background: rgba(22, 24, 35, 0.03);
    }
}

.separate {
    border-top: 1px solid #e3e2e2;
}

// header :

.header {
    position: relative;
    display: flex;
    align-items: center;
    height: 52px;
    margin-top: -8px;
}

.iconBack {
    width: 52px;
    height: 100%;
    background-color: transparent;
    cursor: pointer;
}

.header-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.8rem;
    font-weight: 700;
    user-select: none;
}
