@import 'normalize.css';

:root {
    --primary-color: #fe2c55;
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
    --text-color: #333;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'TiktokFont', sans-serif;
    font-size: 1.6rem;
    text-rendering: optimizespeed;
    line-height: 1.5;
    color: var(--text-color);
}

// fonts :
@font-face {
    font-family: 'TiktokFont';
    src: url('/asset/font/TikTokFont-Bold.woff2');
    font-weight: 700;
}

@font-face {
    font-family: 'TiktokFont';
    src: url('/asset/font/TikTokFont-Regular.woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'TiktokFont';
    src: url('/asset/font/TikTokFont-Semibold.woff2');
    font-weight: 600;
}

@font-face {
    font-family: 'TiktokDisplayFont';
    src: url('/asset/font/TikTokDisplayFont-Bold.woff2');
    font-weight: 700;
}

@font-face {
    font-family: 'TiktokFont';
    src: url('/asset/font/TikTokDisplayFont-Semibold.woff2');
    font-weight: 600;
}

button,
input {
    border: none;
    outline: none;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

// custom Tippy :

.tippy-box {
    background-color: rgba(32, 32, 32, 0.7);
}

.tippy-arrow {
    color: rgba(32, 32, 32, 0.7);
}

.tippy-box[data-placement^='bottom'] > .tippy-arrow:before {
    top: -8px;
}

.tippy-content {
    padding: 7px 9px;
    font-size: 1.5rem;
}
