.wrapper {
    height: var(--default-layout-header-height);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px;
    display: flex;
    justify-content: center;

    --width-search-btn: 52px;
}

.inner {
    height: 100%;
    width: var(--default-layout-width);
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    height: 100%;
}

.search {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 16px;
    width: 400px;
    height: 46px;
    border-radius: 32px;
    background: rgba(22, 24, 35, 0.06);
    overflow: hidden;
    border: 1px solid transparent;

    &:focus-within {
        border-color: #c9c8c8;
    }
}

.search-result {
    width: 400px;
}

.search-title {
    color: #aaa;
    padding: 8px 10px;
}

.input {
    flex: 1;
    height: 100%;
    background-color: transparent;
    font-size: 1.6rem;
    color: rgb(22, 24, 35);
    margin-right: 40px;
    caret-color: var(--primary-color);
}

.input:not(:placeholder-shown) ~ .search-btn {
    color: rgba(22, 24, 35, 0.75);
}

.clear,
.loading {
    position: absolute;
    color: rgba(22, 24, 35, 0.34);
    top: 50%;
    right: calc(var(--width-search-btn) + 16px);
    transform: translateY(-50%);
    background-color: transparent;
}

.search-btn {
    position: relative;
    width: var(--width-search-btn);
    height: 100%;
    font-size: 2rem;
    color: rgba(22, 24, 35, 0.34);
    &:hover {
        background-color: rgba(22, 24, 35, 0.06);
        cursor: pointer;
    }

    &::before {
        content: '';
        display: block;
        position: absolute;
        width: 1px;
        height: 26px;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        background-color: rgba(22, 24, 35, 0.12);
    }
}

// active:
.active {
    display: flex;
    align-items: center;
}

.more-btn {
    margin-left: 28px;
    font-size: 2rem;
    padding: 8px;
    background-color: transparent;
    cursor: pointer;
}
